<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/userDetail.css">
    <link rel="stylesheet" href="/stylesheets/uikit-rtl.css">
    <link rel="stylesheet" href="/stylesheets/uikit-rtl.min.css">
    <link rel="stylesheet" href="/stylesheets/uikit.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
  </head>
  <body>

    <!-- Header -->
    <%-include('header')%>
    <!-- Header -->

    <div class="titulo"><h1>Welcome to your profile details</h1></div>
      
        <div class="perfil">
            <div class="imagen"><img src="/images/iconoUsuario.png" alt=""></div>
            
            <div class="datos">
                <span style="display: flex; align-items: center; margin-top: 10px;"><h3 style="margin: 0px;">User:</h3><p style="margin: 0px 0px 0px 10px;"><%= resultado.name %> </p></span>
                <span style="display: flex; align-items: center; margin-top: 10px;"><h3 style="margin: 0px;">Email:</h3><p style="margin: 0px 0px 0px 10px;"><%= resultado.email %></p></span>
                <span style="display: flex; align-items: center; margin-top: 10px;"><h3 style="margin: 0px;">Birth date:</h3><p style="margin: 0px 0px 0px 10px;"><%= resultado.birthdate %></p></span>
            </div>
        
        </div>
       
        <div class="reviewsTitulo"><h1>Your Reviews</h1></div>

         <!-- Lista con todos los reviews -->
      <div class="listadoReviews"> 

        <!-- Item de review -->
        <% for(let i=0; i<resultsResenas.length; i++){ %>
        <div class="item" style='border-top: 0px solid #f7f7f7!important;'>
          <div class="review"><p><%= resultsResenas[i].resena %></p></div>
          <div class="option">
            <p><%= resultsResenas[i].puntaje %></p>
          </div>
          <div class="option">
            <p>Edit</p>
          </div>
          <div class="option">
            <p><%= resultsResenas[i].idPelicula %></p>
          </div>
          <div class="option">
            <p>Delete</p>
          </div>
        </div>
        <% } %>
        <!-- Item de review -->

        <!-- Item de review -->
        <div class="item">
            <div class="review"><p>Me gusto mucho la pelicula...</p></div>
            <div class="option">
              <p>8</p>
            </div>
            <div class="option">
              <a href=""><span uk-icon="pencil"></span></a>
            </div>
            <div class="option">
              <a href=""><span uk-icon="video-camera"></span></a>
            </div>
            <div class="option">
              <a href="">x</a>
            </div>
          </div>
          <!-- Item de review -->

          <!-- Item de review -->
        <div class="item">
            <div class="review"><p>De las peores que vi en mi vida</p></div>
            <div class="option">
              <p>3</p>
            </div>
            <div class="option">
              <a href=""><span uk-icon="pencil"></span></a>
            </div>
            <div class="option">
              <a href=""><span uk-icon="video-camera"></span></a>
            </div>
            <div class="option">
              <a href="">x</a>
            </div>
          </div>
          <!-- Item de review -->

       
      </div>
      <!-- Lista con todos los reviews -->

    <!-- Footer-->
    <%-include('footer')%>
    <!-- Footer-->


    <script src="/javascripts/login.js" charset="utf-8"></script>
    <script rel="stylesheet" src="/javascripts/detalle.js"></script>
    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>
    <script src="/javascripts/uikit-icons.js"></script>
    <script src="/javascripts/uikit.js"></script>
  </body>
</html>