<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/userDetail.css">
    <link rel="stylesheet" href="/stylesheets/uikit-rtl.css">
    <link rel="stylesheet" href="/stylesheets/uikit-rtl.min.css">
    <link rel="stylesheet" href="/stylesheets/uikit.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
  </head>
  <body>

    <!-- Header -->
    <%-include('header')%>
    <!-- Header -->

    <div class="titulo"><h1>Welcome to your profile details</h1></div>

        <div class="perfil">
            <div class="imagen"><img src="/images/iconoUsuario.png" alt=""></div>
            <div class="datos">
                <span style="display: flex; align-items: center; margin-top: 10px;"><h3 style="margin: 0px;">User:</h3><p style="margin: 0px 0px 0px 10px;"><%= resultado.name %></p></span>
                <span style="display: flex; align-items: center; margin-top: 10px;"><h3 style="margin: 0px;">Email:</h3><p style="margin: 0px 0px 0px 10px;"><%=resultado.email%></p></span>
                <span style="display: flex; align-items: center; margin-top: 10px;"><h3 style="margin: 0px;">Birth date:</h3><p style="margin: 0px 0px 0px 10px;"><%=resultado.birthdate%></p></span>
                <span style="display: flex; align-items: center; margin-top: 10px;"><h3 style="margin: 0px;">Favorite Genre:</h3><a href="/playit/genre"><p style="margin: 0px 0px 0px 10px;"><%=resultado.generoFavorito%></p></a></span>
                <span style="display: flex; align-items: center; margin-top: 10px;"><h3 style="margin: 0px;">Favorite Movie:</h3><a href=<%= '/playit/search?busqueda=' +  resultado.peliculaFavorita %><p style="margin: 0px 0px 0px 10px;"><%=resultado.peliculaFavorita%></p></a></span> 
              </div>
        </div>

       

         <!-- Lista con todos los reviews -->
 
      <!-- Lista con todos los reviews -->

    <!-- Footer-->
    <%-include('footer')%>
    <!-- Footer-->


    <script src="/javascripts/login.js" charset="utf-8"></script>
    <script rel="stylesheet" src="/javascripts/detalle.js"></script>
    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>
    <script src="/javascripts/uikit-icons.js"></script>
    <script src="/javascripts/uikit.js"></script>
  </body>
</html>